{
  "extends": "semistandard",
  "globals": {
    "location": true,
    "history": true,
    "localStorage": true,
    "sessionStorage": true,
    "$": true,
    "jquery": true,
    "jQuery": true
  }
}
