/* Display
--------------------------------------------------------------*/
.u-display {
  &--b {
    display: block;
  }

  &--i {
    display: inline;
  }

  &--ib {
    display: inline-block;
  }
}

.u-sp {
  @include pc-screen {
    display: none;
  }
}

.u-pc {
  @include sp-screen {
    display: none;
  }
}
