/* Badge Group
--------------------------------------------------------------*/
.p-badge-group {
  display: flex;
  align-items: center;

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    &:nth-child(n+2) {
      margin-left: 6px;
    }
  }

  &__text {
    font-size: 1.2rem;
    padding-left: 6px;
  }
}
