/* block-1
--------------------------------------------- */
.p-block-1 {
  background: rgba(#fff, .8);
  padding: 10px 0;
  margin-top: 10px;

  @include pc-screen {
    padding: 20px 0;
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    @include pc-screen {
      max-width: 66%;
    }
  }

  &__text--pc-wide {
    margin-left: auto;
    margin-right: auto;

    @include pc-screen {
      max-width: 83%;
    }
  }

  .c-heading-3 {
    margin-bottom: 15px;
    margin-top: 0;

    @include pc-screen {
      margin-bottom: 30px;
    }
  }
}


/* block-2
--------------------------------------------- */
.p-block-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  @include pc-screen {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__text {
    padding: 10px 0 0;

    @include pc-screen {
      flex: 1;
      max-width: 74%;
      background: rgba(#fff, .8);
      padding: 30px 34px;

      & + .p-block-2__text {
        width: 47%;
        padding-left: 0;
      }
    }

    & + .p-block-2__text {
      @include sp-screen {
        padding-top: 0;
      }

      @include pc-screen {
        width: 47%;
        padding-left: 0;
      }
    }
  }

  &__image {
    width: 100%;
    margin-top: 25px;

    @include pc-screen {
      width: 49%;
    }

    img {
      width: 100%;
      height: auto;
    }

    .c-video {
      @include pc-screen {
        margin-top: 20px;
      }
    }
  }

  .c-heading-2,
  .c-heading-2--sans {
    margin-bottom: 14px;

    @include pc-screen {
      margin-left: -34px;
      margin-bottom: 25px;
    }
  }

  .c-lead {
    margin-bottom: 20px;

    @include pc-screen {
      margin-bottom: 0;
    }
  }

  .c-lead--sm {
    margin-bottom: 14px;

    @include pc-screen {
      margin-bottom: 30px;
    }
  }
}

.c-heading-3 + .p-block-2,
.c-heading-3--sans + .p-block-2 {
  margin-top: 0;
}


/* block-2 (reverse)
--------------------------------------------- */
.p-block-2--reverse {
  @extend .p-block-2;

  @include pc-screen {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .c-heading-2,
  .c-heading-2--sans {
    text-align: right;

    @include pc-screen {
      margin-left: 0;
      margin-right: -34px;
    }

    span {
      padding-left: 0;
      padding-right: 17px;

      @include pc-screen {
        padding-left: 0;
        padding-right: 35px;
      }

      &::before {
        border-left: 0;
        border-right: 7px solid #000;
        right: 0;
        left: auto;

        @include pc-screen {
          border-width: 15px;
        }
      }

      &::after {
        left: auto;
        right: 22px;

        @include pc-screen {
          left: auto;
          right: 45px;
        }
      }
    }
  }

  .c-lead--sm {
    text-align: right;
  }
}



/* block-3
--------------------------------------------- */
%block-3-border {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: #000;
  left: 0;
}

.p-block-3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: rgba(#fff, .8);
  padding: 40px 8px 30px;
  width: 100%;
  position: relative;

  &::before {
    @extend %block-3-border;
    height: 4px;
    top: 0;

    @include pc-screen {
      top: 24px;
    }
  }

  &::after {
    @extend %block-3-border;
    height: 2px;
    bottom: 0;

    @include pc-screen {
      bottom: 20px;
    }
  }


  @include pc-screen {
    display: flex;
    padding: 80px 40px;
    margin-top: 40px;
  }

  .c-heading-2,
  .c-heading-2--sans {
    margin-bottom: 14px;

    @include pc-screen {
      margin-bottom: 25px;
      margin-left: -20px;
    }
  }

  .c-lead--sm {
    margin-bottom: 14px;

    @include pc-screen {
      margin-bottom: 30px;
    }
  }

  &__text {
    @include pc-screen {
      flex: 1;
      padding: 0 40px 0 20px;
    }
  }

  &__image {
    margin-top: 20px;

    @include pc-screen {
      width: 34%;
    }
  }
}


/* block-4
--------------------------------------------- */
.p-block-4 {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;

  @include pc-screen {
    margin-top: 80px;
  }

  &__text {
    background: rgba(#fff, .8);
    margin-top: -58px;
    position: relative;
    z-index: 1;
    padding: 14px 10%;

    @include pc-screen {
      width: 74.5%;
      padding: 55px 60px;
      margin-top: -245px;
    }
  }

  &__image {
    width: 100%;

    @include pc-screen {
      width: 67.7%;
      margin: 0 0 0 auto;
    }
  }

  .c-heading-2,
  .c-heading-2--sans {
    margin-bottom: 30px;

    @include pc-screen {
      margin-left: -60px;
    }
  }

  .c-lead,
  .c-lead--sm {
    margin-bottom: 20px;
  }
}

.p-block-4--reverse {
  @extend .p-block-4;

  .p-block-4__text {
    @include pc-screen {
      padding: 55px 60px;
      margin:  -245px 0 0 auto;
    }
  }

  .c-heading-2,
  .c-heading-2--sans {
    margin-bottom: 30px;

    @include sp-screen {
      text-align: right;

      span {
        padding-left: 0;
        padding-right: 17px;

        &::before {
          border-left: 0;
          border-right: 7px solid #000;
          right: 0;
          left: auto;
        }

        &::after {
          left: auto;
          right: 22px;
        }
      }
    }

    @include pc-screen {
      margin-left: 0;
    }
  }

  .c-lead,
  .c-lead--sm {
    margin-bottom: 20px;

    @include sp-screen {
      text-align: right;
    }
  }

  .p-block-4__image {
    @include pc-screen {
      margin-right: auto;
      margin-left: 0;
    }
  }

}

/* block-message
--------------------------------------------- */
.p-block-message {
  margin-top: 20px;

  @include pc-screen {
    margin-top: 40px;
  }

  &__text {
    width: 83%;
    color: #fff;
    font-family: $base_font_serif;
    background: $bg_color_1;
    padding: 30px 10% 20px;
    margin-top: -50px;
    position: relative;
    z-index: 1;

    @include pc-screen {
      width: 676px;
      margin-top: -370px;
      margin-left: -90px;
      padding: 65px 45px 60px 135px;
    }
  }

  &__lead {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2;

    .en & {
      line-height: 1.35;
    }

    @include pc-screen {
      font-size: 4.2rem;
      line-height: 1.9;

      .en & {
        line-height: 1.35;
      }
    }
  }

  &__image {
    width: 82%;
    margin-right: 0;
    margin-left: auto;

    @include pc-screen {
      width: 65%;
    }

    img {
      vertical-align: middle;
      box-shadow: 1px 3px 3px rgba(#535353, .5);

      @include pc-screen {
        box-shadow: 2px 7px 5px rgba(#535353, .5);
      }
    }
  }

  &__name {
    font-size: 1.6rem;
    margin-top: 1em;

    @include pc-screen {
      font-size: 2.2rem;
      margin-top: 18px;
    }
  }

  &__position {
    font-size: 1rem;
    margin-top: 1em;

    @include pc-screen {
      font-size: 1.4rem;
      margin-top: 40px;
    }
  }
}

/* block-business
--------------------------------------------- */
.p-block-business {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;

  @include pc-screen {
    margin-top: 40px;
  }

  &__text {
    background: #e5e5e3;
    width: 90%;
    padding: 45px 7% 74px;

    @include pc-screen {
      width: 57%;
      padding: 94px 260px 125px 45px;
    }
  }

  &__image {
    width: 93%;
    margin: -38px 0 0 auto;
    z-index: 1;

    @include pc-screen {
      width: 59.3%;
      margin-top: -376px;
    }

    img {
      vertical-align: middle;
      box-shadow: 1px 3px 3px rgba(#535353, .5);

      @include pc-screen {
        box-shadow: 2px 7px 5px rgba(#535353, .5);
      }
    }
  }

  &__head {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $base_font_serif;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .en & {
      line-height: 1.35;
    }

    @include pc-screen {
      font-size: 5rem;
      padding-bottom: 15px;
      margin-bottom: 45px;
    }

    &::before {
      content: "";
      display: block;
      width: 93vw;
      height: 1px;
      background: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      @include pc-screen {
        width: 600px;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 87px;
      height: 5px;
      background: #000;
      position: absolute;
      left: 0;
      bottom: -2px;

      @include pc-screen {
        width: 186px;
        height: 9px;
        bottom: -4px;
      }
    }
  }

  &__lead {
    font-weight: 700;
    font-size: 1.1rem;

    .en & {
      line-height: 1.35;
    }

    @include pc-screen {
      font-size: 1.8rem;
    }
  }
}
