.p-graph-area {
  width: calc(100% - 10px);
  margin: 0 auto 30px;

  @include pc-screen {
    width: calc(100% - 40px);
    margin: 0 auto 60px;
  }

  .chart {
    overflow: hidden;
  }
}

.p-graph-title {
  font-size: 1.1rem;
  border-bottom: 1px solid #878787;
  padding-bottom: 2px;
  margin-bottom: 15px;
  font-weight: 700;

  @include pc-screen {
    font-size: 1.6rem;
  }
}
