/* Pagination
--------------------------------------------------------------*/

%pagination-button {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: #bbb;
  border-radius: 5px;
  position: relative;

  @include pc-screen {
    &:hover {
      opacity: $hover_opacity;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 13px;
    background: url('/assets/img/icon/icon_arrow_02.svg') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.p-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;

  @include sp-screen {
    display: none;
  }

  &__number {
    display: inline-block;
    height: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 24px;
    color: #707070;
    margin: 0 15px;

    @include pc-screen {
      &:hover {
        color: #707070;
        opacity: $hover_opacity;
      }
    }

    &.is-active {
      color: #c4c4c4;
    }
  }

  &__prev {
    @extend %pagination-button;
    margin-right: 15px;

    &::before {
      transform: translate(-50%, -50%);
    }
  }

  &__next {
    @extend %pagination-button;
    margin-left: 15px;

    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
