/* Result
--------------------------------------------------------------*/
.p-result {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    @include sp-screen {
      padding-top: 12px;
    }

    @include pc-screen {
      margin-bottom: 14px;
    }
  }

  &__text {
    font-size: 1rem;

    @include pc-screen {
      font-size: 1.2rem;
    }
  }
}
