/* Search Office
--------------------------------------------------------------*/
.p-search-office {
  display: flex;
  justify-content: space-between;

  &__result {
    width: 100%;

    @include pc-screen {
      width: 408px;
    }
  }

  &__map {
    @include sp-screen {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px;
    }

    @include pc-screen {
      width: 560px;
    }
  }

  &-select {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
