/* Select Window
--------------------------------------------------------------*/
.p-select-window {
  @include pc-screen {
    max-width: 837px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    overflow: hidden;
    position: relative;

    @include sp-screen {
      &:nth-child(n+2) {
        margin-top: 10px;
      }
    }

    @include pc-screen {
      width: 263px;
      margin-left: 23px;

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(n+4) {
        margin-top: 15px;
      }
    }
  }

  &__input {
    position: absolute;
    transform: translate(-120%, -120%);
    z-index: -1;

    &:checked {
      & + .p-select-window__label {
        background: $accent_color;

        .p-select-window__text {
          color: #fff;
        }

        .p-select-window__icon {
          &::before {
            display: block;
          }
        }
      }
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 8px 8px 8px 44px;
    background: #f7f7f7;
    border-radius: 5px;

    @include pc-screen {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 16px 12px 12px;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
  }

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    @include pc-screen {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      margin-right: 10px;
    }

    &::before {
      content: '';
      display: none;
      width: 10px;
      height: 8px;
      background: url('/assets/img/icon/icon_check.svg') no-repeat center;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__wait {
    background: #fff;
    border-radius: 5px;
    display: flex;
    width: 140px;
    padding: 7px 0 0;

    @include pc-screen {
      width: 100%;
      margin-top: 17px;
      padding: 10px 0;
    }
  }

  &__wait-item {
    &--people {
      width: 50%;
      text-align: center;

      @include pc-screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px;
      }
    }

    &--time {
      width: 50%;
      text-align: center;
      position: relative;

      @include pc-screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
      }

      &::before {
        content: '';
        width: 2px;
        height: 100%;
        border-left: 1px solid #d6d6d6;
        position: absolute;
        top: 0;
        left: -1px;
      }
    }
  }

  &__wait-text {
    font-size: 1rem;
    display: block;
    line-height: 1;

    @include pc-screen {
      padding-top: 4px;
    }
  }

  &__wait-number {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;

    span {
      font-size: 1.4rem;
      line-height: 1;
      padding: 0 0.2em;

      @include pc-screen {
        font-size: 1.6rem;
      }
    }
  }
}
