/* Select Notification
--------------------------------------------------------------*/
.p-select-notification {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include pc-screen {
    max-width: 348px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    width: 21.72%;
    text-align: center;
    cursor: pointer;

    @include pc-screen {
      width: 68px;

      &:hover {
        opacity: $hover_opacity;
      }
    }

    img {
      width: 100%;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
