/* Service Table
--------------------------------------------------------------*/
.p-service-table {
  @include pc-screen {
    margin: 12px 0;
  }

  @include sp-screen {
    border: 0;
    margin: 6px 0;

    &__item {
      margin: 0 3px;
      width: 26px;
    }

    th,
    td {
      border: 0;
      padding: 0;
      display: block;
      width: 26px;

      &:not(.p-service-table__item) {
        display: none;
      }
    }

    tr {
      display: inline-block;
      width: auto;
    }

    tbody {
      display: flex;
      justify-content: center;
    }

    thead {
      display: none;
    }

    .p-badge-group__text {
      display: none;
    }
  }
}
