/* Step
--------------------------------------------------------------*/
%step-form-icon {
  margin-right: 10px;

  img {
    width: 100%;
  }

  @include pc-screen {
    margin-right: 6px;
  }
}

.p-step {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 20px 4.66% 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @include pc-screen {
    max-width: 903px;
    padding: 24px 33px;
  }

  & + .p-step {
    margin-top: 15px;


    @include pc-screen {
      margin-top: 32px;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    @include pc-screen {
      display: block;
      text-align: center;
    }


    .p-step & {
      margin-bottom: 16px;

      @include pc-screen {
        margin-bottom: 20px;
      }
    }
  }

  &__title-number {
    color: $accent_color;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    width: 52px;

    @include pc-screen {
      width: 100%;
      font-size: 1.4rem;
    }

    span {
      font-size: 1.8rem;
      line-height: 1;
      padding-left: 2px;

      @include pc-screen {
        font-size: 2rem;
      }
    }
  }

  &__title-text {
    margin-left: 11px;
    display: block;
    width: calc(100% - 52px);

    @include pc-screen {
      font-size: 1.8rem;
      width: 100%;
      margin: 5px 0 0;
    }
  }

  &__text {
    margin-bottom: 22px;

    @include pc-screen {
      text-align: center;
    }
  }

  &__modal {
    padding: 30px 5.83%;

    @include pc-screen {
      padding: 30px;
    }
  }

  &__form {
    text-align: center;

    .p-progress {
      margin-bottom: 25px;
    }
  }

  &__form-text-area {
    margin: 10px 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-text {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.46;
    text-align: center;

    @include pc-screen {
      font-size: 1.5rem;
    }
  }

  &__form-submit {
    margin-top: 25px;
  }

  &__form-input {
    max-width: 292px;
    margin: 0 auto;
  }

  &__form-icon {
    &--sms {
      @extend %step-form-icon;
      width: 30px;
    }

    &--mail {
      @extend %step-form-icon;
      width: 37px;
    }

    &--id {
      @extend %step-form-icon;
      width: 50px;
    }
  }

  &__form-input-col {
    @include pc-screen {
      max-width: 508px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  &__form-input-group {
    @include sp-screen {
      text-align: left;

      &:nth-child(n+2) {
        margin-top: 10px;
      }
    }

    @include pc-screen {
      width: 242px;
    }
  }

  &__signup {
    margin-top: 36px;
    text-align: center;

    @include pc-screen {
      margin-top: 50px;
    }
  }

  &__signup-text {
    font-size: 1.2rem;
  }

  &__signup-button {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    width: 188px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    color: $font_color;
    text-align: center;
    padding: 5px 10px;
    margin-top: 8px;
  }
}
