/* Ticket Issuance
--------------------------------------------------------------*/
.p-ticket-issuance {
  padding: 24px 16px;
  text-align: center;

  @include pc-screen {
    padding: 32px 0 40px;
  }

  &__progress {
    margin-bottom: 10px;

    @include pc-screen {
      margin-bottom: 21px;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 16px;

    @include pc-screen {
      font-size: 1.8rem;
      margin-bottom: 24px;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin: 16px auto;
    max-width: 250px;

    @include pc-screen {
      font-size: 1.5rem;
      margin: 24px auto;
    }
  }
}
