/* Top Page
--------------------------------------------------------------*/
.p-top-fixed-bg {
  position: fixed;
  z-index: 2;

  @include sp-screen {
    top: 60px;
    left: 0;
    width: 100vw;
    height: 104vw;
    background: url(/integrated-report/assets/images/top/bg_sp.png) no-repeat center top;
    background-size: cover;
  }

  @include pc-screen {
    top: 75px;
    left: -360px;
    width: 1920px;
    height: 398px;
    background: url(/integrated-report/assets/images/top/bg_pc.png) no-repeat center top;
  }

  @include pc-wide-screen {
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-top-container {
  overflow: hidden;
  position: relative;
}

/* kv */
.p-top-kv{
  height: 106vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 5;

  @include pc-screen {
    height: 400px;
    padding-top: 0;
  }

  img {
    vertical-align: bottom;
  }

  &__area {
    position: relative;
    margin-bottom: 30px;
    background: #f2f2f0;
    @include pc-screen {
      margin-bottom: 58px;
    }
  }

  &-update {
    color: #666;
    position: absolute;
    bottom: 7px;
    @include sp-screen {
      text-align: center;
      width: 100%;
      left: 0;
      font-size: 1rem;
    }
    @include pc-screen {
      right: 7.1%;
      bottom: 10px;
    }
  }
}

/* inner */
.p-top-inner{
  padding: 0 4.8% 60px;
  position: relative;
  z-index: 3;

  @include pc-screen {
    width: 1180px;
    margin: 0 auto;
    padding: 0 0 120px;
  }
}

/* section */
.p-top-section {
  position: relative;
  z-index: 3;
  margin-bottom: 40px;

  @include pc-screen {
    margin-bottom: 100px;
  }

  &:nth-of-type(n+2) {
    margin-top: 37px;
    @include pc-screen {
      margin-top: 100px;
    }
  }
}


.p-top-link {
  a{
    font-size: 1.2rem;
      @include pc-screen {
        font-size: 2.1rem;

        &:hover {
          color: #000;
          font-weight: 700;
        }
      }
  }
}

/* article */
$box_shadow_pc: 6px 6px 8px rgba(101, 93, 51, 0.5);
$box_shadow_sp: 4px 4px 7px 0px rgba(101,93,51,0.5);
$box_shadow_hover: 2px 2px 5px 0px rgba(101,93,51,0.5);

/* box hover style */
%article-box-hover-style{
  position: relative;
  transition: .8s;
  &::after,
  &::before {
    content: "";
    transition: .8s;
    display: block;
    background-color: #000;
    position:absolute;
    opacity: 0;
    z-index: 1;
  }
  &::before {
    width: 3px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
  }
  &::after {
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &:hover {
    box-shadow: $box_shadow_hover;
    &::after,
    &::before {
      opacity: 1;
    }
    .p-top-article-medium__label{
      background: #000;
    }
    .p-top-article-small__label{
      background: #000;
    }
  }

  a{
    &::after {
      content: "";
      transition: .8s;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #000 transparent;
      position:absolute;
      opacity: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
    }
    &:hover {
      text-decoration: none;
      color: inherit;
      &::after {
        opacity: 1;
      }
    }
  }
}

.p-top {
  &-article-grid {
    @include pc-screen {
      display: flex;
      justify-content: center;
      max-width: 1364px;
      margin: 0 auto;
    }
  }

  /* large */
  &-article-large {
    padding: 0 36px;
    margin-bottom: 31px;
    @include pc-screen {
      display: flex;
      padding: 0;
      max-width: 1220px;
      margin: 0 auto 78px;
    }

    &--1 {
      @extend .p-top-article-large;
      .p-top-article-large__title {
        margin-bottom: 1.2em;
      }
      .p-top-article-large__img__wrap{
        @include sp-screen {
          width: 100%;
        }
        @include pc-screen {
          margin-right: 50px;
          width: 620px;
        }
      }
    }
    &--2 {
      @extend .p-top-article-large;
      .p-top-article-large__img__wrap{
        @include pc-screen {
          margin-right: 57px;
        }
      }
      @include pc-screen {
        justify-content: center;
        align-items: center;
      }
      .p-top-article-large__img__label{
        @include pc-screen {
          top: 23.3%;
        }
      }
      .p-top-article-large__title {
        @include pc-screen {
          margin-top: 0;
          margin-bottom: 3.5em;
        }
        @include sp-screen {
          margin-bottom: .8em;
        }
      }
    }

    &__content {
      background: #fff;
      padding: 0 20px 30px;
      @include pc-screen {
        width: 500px;
        padding: 30px;
      }
    }

    &__img__wrap {
      position: relative;
      @include sp-screen {
        width: calc(100% - 40px);
        margin: 0 auto;
      }
      @include pc-screen {
        padding-left: 20px;
      }
    }

    &__img {
      box-shadow: $box_shadow_sp;
      @include pc-screen {
        box-shadow: $box_shadow_pc;
      }
      img {
        vertical-align: bottom;
      }
    }

    &__img__label {
      background: #000;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      position: absolute;
      padding: 0 10px;
      min-width: 107px;
      top: 34.3%;
      left: -15px;
      @include pc-screen {
        font-size: 2.4rem;
        left: 0;
        min-width: 215px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 1.8rem;
      font-family: $base_font_serif;
      margin-top: 1.5em;
      @include pc-screen {
        margin-top: 0;
        font-size: 2.4rem;
      }
    }

    &__auther{
      font-size: 1.1rem;
      font-family: $base_font_serif;
      font-weight: 600;
      margin-bottom: 2em;
      @include pc-screen {
        font-size: $base_font_size_pc;
      }
    }

    &__text{
      font-size: $base_font_size_sp;
      @include pc-screen {
        font-size: $base_font_size_pc;
      }
    }

    &__button {
      margin-top: 4em;
      text-align: center;
    }

  }

  /* medium */
  &-article-medium {
    @extend %article-box-hover-style;
    box-shadow: $box_shadow_sp;
    width: 77%;
    margin-bottom: 53px;
    @include sp-screen {
      margin-right: auto;
      margin-left: auto;
    }
    @include pc-screen {
      margin-right: 5.7%;
      margin-left: 5.7%;
      margin-bottom: 78px;
      width: 480px;
      box-shadow: $box_shadow_pc;
    }

    a{
      display: block;
      height: 100%;
    }

    &__label {
      background: #BEBEB6;
      color: #fff;
      font-weight: 500;
      transition: .8s;
      @include sp-screen {
        font-size: 1.4rem;
        padding: 8px 1em;
        text-align: center;
      }
      @include pc-screen {
        font-size: 1.8rem;
      }
    }

    &__img {
      img {
        vertical-align: bottom;
      }
    }

    &__subtitle {
      font-size: 1.1rem;
      font-family: $base_font_serif;
      font-weight: 600;
      @include pc-screen {
        font-size: 1.4rem;
      }
    }

    &__title {
      font-size: 1.8rem;
      font-family: $base_font_serif;
      font-weight: 600;
    }

    &--1{
      @extend .p-top-article-medium;
      .p-top-article-medium__content{
        padding: 25px 15px;
        background: #fff;
        @include pc-screen {
          padding: 30px;
        }
      }

      .p-top-article-medium__label {
        @include pc-screen {
          text-align: center;
          padding: 17px 10px;
        }
      }

      .p-top-article-medium__title {
        margin-bottom: 1.5em;
      }

    }

    &--2{
      overflow: hidden;

      a {
        position: relative;

        @include sp-screen {
          padding-top: 75%;
        }
      }

      @extend .p-top-article-medium;
      position: relative;

      .p-top-article-medium__title {
        @include sp-screen {
          font-size: 1.2rem;
        }
      }

      .p-top-article-medium__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 101%;
        height: 100%;

        img {
          object-fit: cover;

          @include pc-screen {
            min-height: 100%;
            width: auto;
          }
        }
      }

      .p-top-article-medium__content {
        background: rgba(255,255,255,0.8);
        padding: 0 25px 20px;
        z-index: 1;
        position: relative;

        @include pc-screen {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 35px 56px 20px;
        }
      }

      .p-top-article-medium__label {
        max-width: 198px;
        width: 100%;
        transform: translateY(-50%);
        @include sp-screen {
          text-align: left;
          padding: 0 0 0 23px;
          line-height: 1.4;
          margin-left: -25px;
          margin-bottom: 1em;
        }
        @include pc-screen {
          position: absolute;
          left: 0;
          top: 0;
          max-width: 330px;
          padding-left: 64px;
        }
      }

      .p-top-article-medium__subtitle {
        margin-bottom: 2em;
        @include pc-screen {
          margin-bottom: 0;
        }
      }
    }
  }

  /* small */
  &-article-small {
    @extend %article-box-hover-style;
    box-shadow: $box_shadow_pc;
    width: 77%;
    margin-bottom: 53px;
    @include sp-screen {
      margin-right: auto;
      margin-left: auto;
    }
    @include pc-screen {
      margin-right: 3.2%;
      margin-left: 3.2%;
      width: 330px;
      margin-bottom: 78px;
    }

    &--1 {
      @extend .p-top-article-small;
      .p-top-article-small__content {
        padding: 35px 17px;
        @include pc-screen {
          padding: 45px 20px;
        }
      }
      .p-top-article-small__subtitle {
        margin-bottom: 2.5em;
        @include pc-screen {
          margin-bottom: 2em;
        }
      }
    }

    &--2 {
      @extend .p-top-article-small;
      .p-top-article-small__content {
        padding: 9px 25px;
        @include pc-screen {
          // height: calc(100% - 387px);
          display: flex;
          padding: 16%;
          align-items: center;
        }
      }
    }

    &--3 {
      @extend .p-top-article-small;
      position: relative;

      a {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
      }

      .p-top-article-small__img {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }

    a{
      display: block;
      height: 100%;
      background-color: #fff;
    }

    &__label {
      @extend .p-top-article-medium__label;
      @include pc-screen {
        text-align: center;
        padding: 10px;
      }
    }

    &__copy__wrap {
      margin-bottom: 25px;
      @include pc-screen {
        margin-bottom: 30px;
      }
    }
    &__copy--1 {
      font-size:2rem;
      font-weight: 700;
      line-height: 1.65;

      &:nth-of-type(n+2) {
        margin-top: .8em;
      }

      @include pc-screen {
        font-size:2.2rem;
      }
    }

    &__copy--2 {
      font-size: 1.1rem;
      font-weight: 500;
      display: block;
      line-height: 1.65;

      @include pc-screen {
        font-size: 1.2rem;
        text-indent: .5em;
      }
    }

    &__img {

      img {
        vertical-align: bottom;
      }
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: $base_font_serif;
      @include pc-screen {
        font-size: 1.8rem;
      }
    }

    &__subtitle {
      @extend .p-top-article-small__title;
      @include sp-screen {
        font-size: 1.8rem;
      }
    }

    &__text {
      font-size: 1.2rem;
      @include pc-screen {
        font-size: $base_font_size_pc;
      }
    }
  }
}

.p-top-article-medium--1,
.p-top-article-medium--2 {

  a[target="_blank"] {
    .p-top-article-medium__label span {
      &::after {
        content: "";
        display: inline-block;
        width: .8em;
        height: .8em;
        margin-left: 10px;
        background: url(/integrated-report/assets/images/icon_target_blank_white.png) no-repeat;
        background-size: 100%;
      }
    }
  }
}


.p-top-article-small--1,
.p-top-article-small--2,
.p-top-article-small--3 {

  a[target="_blank"] {
    .p-top-article-small__label span {
      &::after {
        content: "";
        display: inline-block;
        width: .8em;
        height: .8em;
        margin-left: 10px;
        background: url(/integrated-report/assets/images/icon_target_blank_white.png) no-repeat;
        background-size: 100%;
      }
    }
  }
}
