/* Button
--------------------------------------------------------------*/
%c-button {
  cursor: pointer;
  border: none;
  outline: none;
  appearance: none;
  font-family: $base_font_sans;
  background-color: none;
}

.c-button--primary {
  @extend %c-button;
  padding: 5px 8px 4px;
  text-align: center;
  background-color: #e90000;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  width: 105px;
  letter-spacing: 0.2em;
  @include pc-screen {
    font-size: $base_font_size_pc;
    width: 210px;
    padding: 14px 12px;
    letter-spacing: 0.3em;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: $hover_opacity;
  }
}
