/* Button
--------------------------------------------------------------*/
%icon {
  &::before {
    content: '';
    display: block;
  }
}

.c-icon__point {
  @extend %icon;

  &::before {
    background: url('/assets/img/icon/icon_location.png') no-repeat left top / contain;
    width: 21px;
    height: 36px;

    @include pc-screen {
      width: 36px;
      height: 55px;
    }
  }
}

.c-icon__search {
  @extend %icon;

  &::before {
    background: url('/assets/img/icon/icon_search.png') no-repeat left top / contain;
    width: 37px;
    height: 36px;

    @include pc-screen {
      width: 56px;
      height: 55px;
    }
  }
}
