/* Link
--------------------------------------------------------------*/
.c-link__wrap {
  text-align: center;
}

.c-link {
  color: $font_color;
}

.c-link--arrow {
  @extend .c-link;

  &::after {
    content: ">";
    display: inline-block;
    margin-left: 5px;
  }
}

.c-link--arrow--2 {
  @extend .c-link;

  &::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;
  }

  a[target="_blank"] {

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: .8em;
      height: .8em;
      margin-left: 5px;
      background: url(/integrated-report/assets/images/icon_target_blank.png) no-repeat;
      background-size: 100%;
    }
  }
}

.c-link--download {
  @extend .c-link;

  &:hover {
    &::after {
      opacity: $hover_opacity;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .8em;
    height: .96em;
    margin-left: 5px;
    background: url(/integrated-report/assets/images/icon_download_black.svg) no-repeat;
    background-size: 100%;
  }

  &__file {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0 4px;
    border: 1px solid #ddd;
  }
}
