/* Sort
--------------------------------------------------------------*/
.c-sort {
  font-size: 1rem;
  font-weight: bold;
  background: none;
  border: 0;
  padding: 0 1.6em 0 0;
  position: relative;

  &::after {
    content: '';
    width: 12px;
    height: 10px;
    display: block;
    background: url('/assets/img/icon/icon_sort.svg') no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @include pc-screen {
    font-size: 1.2rem;
  }
}
