$status_color_01: linear-gradient(#1da5ff 0%, #13b7ff 100%);
$status_color_02: linear-gradient(#ff7f00 0%, #fa904a 100%);
$status_color_03: linear-gradient(#db0ec9 0%, #e55bd1 100%);

$status_icon_01: url('/assets/img/icon/icon_face_01.png');
$status_icon_02: url('/assets/img/icon/icon_face_02.png');
$status_icon_03: url('/assets/img/icon/icon_face_03.png');

/* Status
--------------------------------------------------------------*/
%status {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 52px;
  text-align: center;
  border-radius: 5px;
  padding-top: 6px;

  @include pc-screen {
    font-size: 1.2rem;
    height: 56px;
  }

  > span {
    display: block;
    line-height: 1;
  }
}

.c-status {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
  }

  &__type {
    font-size: 1.4rem;

    @include pc-screen {
      font-size: 1.8rem;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 6px 4px 0 0;

    @include pc-screen {
      width: 38px;
      height: 38px;
    }
  }

  &--01 {
    @extend %status;
    background: $status_color_01;

    .c-status__icon {
      background-image: $status_icon_01;
    }
  }

  &--02 {
    @extend %status;
    background: $status_color_02;

    .c-status__icon {
      background-image: $status_icon_02;
    }
  }

  &--03 {
    @extend %status;
    background: $status_color_03;

    .c-status__icon {
      background-image: $status_icon_03;
    }
  }
}


/* Status Badge
--------------------------------------------------------------*/
%status-badge {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  @include pc-screen {
    font-size: 1.2rem;
    width: 80px;
    height: 80px;
  }

  > span {
    display: block;
    line-height: 1;
  }
}

.c-status-badge {
  &__text {
    margin-bottom: 3px;
  }

  &__type {
    font-size: 1.2rem;
    margin-top: -2px;

    @include pc-screen {
      font-size: 1.6rem;
      margin-top: -4px;
    }
  }

  &__icon {
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 0 -2px;

    @include pc-screen {
      width: 40px;
      height: 40px;
    }
  }

  &--01 {
    @extend %status-badge;
    background: $status_color_01;

    .c-status-badge__icon {
      background-image: $status_icon_01;
    }
  }

  &--02 {
    @extend %status-badge;
    background: $status_color_02;

    .c-status-badge__icon {
      background-image: $status_icon_02;
    }
  }

  &--03 {
    @extend %status-badge;
    background: $status_color_03;

    .c-status-badge__icon {
      background-image: $status_icon_03;
    }
  }
}


.c-status-badge-square {
  &--01 {
    @extend %status-badge;
    background: $status_color_01;
    height: 60px;

    @include pc-screen {
      height: 80px;
    }

    .c-status-badge__icon {
      background-image: $status_icon_01;
    }
  }

  &--02 {
    @extend %status-badge;
    background: $status_color_02;
    height: 60px;

    @include pc-screen {
      height: 80px;
    }

    .c-status-badge__icon {
      background-image: $status_icon_02;
    }
  }

  &--03 {
    @extend %status-badge;
    background: $status_color_03;
    height: 60px;

    @include pc-screen {
      height: 80px;
    }

    .c-status-badge__icon {
      background-image: $status_icon_03;
    }
  }
}

/* Status Label
--------------------------------------------------------------*/
%status-label {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 74px;
  text-align: center;
  border-radius: 37px;
  padding-top: 10px;

  @include pc-screen {
    font-size: 1.2rem;
  }

  > span {
    display: block;
    line-height: 1;
  }
}

.c-status-label {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
  }

  &__type {
    font-size: 2.6rem;
  }

  &__icon {
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 6px 5px 0 0;
  }

  &--01 {
    @extend %status-label;
    background: $status_color_01;

    .c-status-label__icon {
      background-image: $status_icon_01;
    }
  }

  &--02 {
    @extend %status-label;
    background: $status_color_02;

    .c-status-label__icon {
      background-image: $status_icon_02;
    }
  }

  &--03 {
    @extend %status-label;
    background: $status_color_03;

    .c-status-label__icon {
      background-image: $status_icon_03;
    }
  }
}
