/* Table
--------------------------------------------------------------*/

%table-cell {
  font-size: 1.2rem;
  vertical-align: middle;
  width: 25%;
  padding: 10px 8px;
  text-align: center;
  border-right: 1px solid #d6d6d6;

  &:last-child {
    border-right: 0;
  }
}

.c-table {
  border: 1px solid #d6d6d6;
  border-collapse: separate;
  border-radius: 5px;
  width: 100%;

  tr {
    &:first-child {
      td {
        border-top: 0;
      }
    }
  }

  th {
    @extend %table-cell;
    background: #f7f7f7;
    font-weight: bold;
    border-bottom: 1px solid #d6d6d6;
  }

  td {
    @extend %table-cell;
    border-top: 1px solid #d6d6d6;
  }


}
